/* TWITTER LOGIN PAGE */
* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

.login-box {
  background: #e3e5e7;
  padding: 30px 120px;
  width: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 10px;
}

.logo {
  width: 30px;
  margin-block-end: 20px;
}

.login-box button img {
  width: 18px;
  margin-right: 7px;
}

.login-box button {
  width: 100%;
  padding-block: 10px;
  padding-inline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 20px;
  margin-inline: 0;
  background: transparent;
  border: 1px solid #999;
  font-weight: 500;
  cursor: pointer;
  color: #111111;
  border-radius: 60px;
}

.login-box hr {
  border: 0;
  height: 1px;
  background: #c2c2c2;
  margin: 5px;
}

.login-box span {
  display: block;
  width: 23px;
  margin: auto;
  background: #e3e5e7;
  margin-top: -13px;
}

.login-box input {
  width: 100%;
  background: transparent;
  border: 1px solid #999;
  outline: none;
  color: white;
  padding: 15px 10px;
  border-radius: 4px;
  margin: 10px auto;
}

::placeholder {
  font-weight: 500;
  color: grey;
}

.login-box form button {
  background: white;
  color: black;
}

.login-box p {
  text-align: left;
  font-size: 14px;
  color: black;
  margin: 40px 0 50px;
}

.login-box p a {
  text-decoration: none;
  color: #359cf0;
}

